<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalle.css">
    <title>Detalle de Productos</title>
</head>
<body>
    <h4>Este es el Detalle de los Productos</h4>
<div>
    <% for(let i = 1; i < 5; i++) { %>
        <p> Menu <%= i %> </p>
        <% } %>
</div>

    
</body>
</html>